.cont1{
  display: flex;
}

.info{
  flex: 1;
  float: left;
  text-align: center;
  padding: 40px;
  margin: 50px;
}

.cartao{
  flex: 1;
  float: right;
  padding: 40px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 69px;
  background: var(--DEGRADE-2, linear-gradient(96deg, #CB64AA 0%, rgba(251, 0, 171, 0.47) 99.55%));
  margin: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: -4px 9px 8px 8px #308B82;
}

.cartao h3{
  color: #FFF;
  text-align: center;
  margin: 40px;
}

#btn{
  border-radius: 35px;
  background: #F2C230;
  color: #FFF;
  font-family: Bungee;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px;
}

